          <div class="author__avatar">
            <a href="SINLINK">
              <img src="assets\images\siemens-logo.png" alt="SIEMENS" itemprop="image" class="u-photo">
            </a>
          </div>
          <div class="author__avatar">
            <a href="SINLINK">
              <img src="assets\images\tasovaplus.png" alt="TASOVA" itemprop="image" class="u-photo">
            </a>
          </div>
          <div class="author__avatar">
            <a href="SINLINK">
              <img src="assets\images\daemon.png" alt="DAEMON" itemprop="image" class="u-photo">
            </a>
          </div>
